*,
::before,
::after {
  /* box-sizing; nos ayuda a que se considere y resetee los valores 
  de la caja para que con flex wrap pueda funcionar de mejor manera*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 12px;
  color: #fff;
}

.container {
  background-color: #222;
  height: 30vh;

  /* flex I */
  /* flex junta todos los contenedores con este en lineas*/
  display: flex; /* block | flex | inline-flex */
  /* inline-flex hace los mismo solo que dilimitando a solo lo que necesitan */

  /* flex-direction */
  /* row-reverse invierte el orden en el que se muestran apegandolo hacia arriba*/
  /* column los muestra alineados en columna y con reverse los muestra en orden 
  inverso pero apegandolo hacia abajo*/
  flex-direction: row-reverse; /* row | row-reverse | column | column-reverse */
  flex-wrap: wrap; /* nowrap | wrap | wrap-reverse*/

  /* flex-flow */
  /* flex flow es la combinación de flex-direction y flex-wrap */
  flex-flow: row wrap;
  /* Justify content define la alineación de los elementos hijos, respecto del 
  eje principal definida en flex-direcion */
  justify-content: space-evenly;
}

.items {
  border: medium solid #444;
  width: 20%;
  height: 20%;
  font-size: 2rem;
  background-color: #888;
}
