@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
  --middle-grey: #908f83;
  --beige: #dce0cc;
  --olive-green: #a0ac5b;
  --ebony: #60695f;
  --eerie-black: #141618;
}

*,
::before,
::after {
  /* box-sizing; nos ayuda a que se considere y resetee los valores 
  de la caja para que con flex wrap pueda funcionar de mejor manera */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 12px;
  color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(
    to top,
    #141618,
    #3b403a,
    #636b61,
    #7e8844,
    #a0ac5b
  );
  height: 100vh;
}

.container {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  grid-template-areas:
    'card-1 card-2'
    'card-1 card-3';
  height: 100vh;
}

.item {
  background: var(--ebony);

  /* grid-column-start: 1; */
  /* grid-column-end: 2; */
  /* grid-column: auto; */
}

.item-1 {
  background: var(--middle-grey);
  grid-column: 1 / 2;
  grid-row: 5 / 10;
}

.item-2 {
  background: var(--eerie-black);
  grid-column: 1 / 4;
  grid-row: 7 / 9;
  opacity: 50%;
}

.item-3 {
  background: var(--olive-green);
  grid-column: 5 / 8;
  grid-row: 6 / 10;
}

.item-4 {
  border: 4px solid var(--olive-green);
  grid-column: 6 / 9;
  grid-row: 5 / 8;
}

.item-5 {
  border: 4px solid var(--olive-green);
  grid-column: 7 / 10;
  grid-row: 3 / 9;
}

.item-6 {
  font-size: 40px;
  grid-column: 6 / 9;
  grid-row: 3 / 5;
  display: grid;
  justify-items: center;
  align-items: center;
}

.item-7 {
  background: var(--olive-green);
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.item-8 {
  font-size: 24px;
  display: grid;
  grid-column-start: 4;
  grid-row: 2 / 4;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  justify-items: center;
  align-items: center;
}
