*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* sticky footer */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  padding: 1rem;
  background-color: #222;
  color: #eee;
}

.menu ul {
  list-style-type: none;
}

.logo {
  font-size: 32px;
}

.menu ul li a {
  text-decoration: none;
  color: #eee;
}

/* main */

.hero-image {
  color: #eee;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-image: url('https://placeimg.com/1280/720/any');
  background-position: center;
  background-size: cover;
  width: 100%;
  min-width: 280px;
}

.hero-image div {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.9);
}

.hero-image div h1 {
  font-size: 7vw;
}

/* header menu responsive */

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
  }

  .menu li {
    padding: 0.5rem;
  }
}
